<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.smartlocker"
        tools:targetApi="33">
        <activity
            android:name=".GerenteInicioActivity"
            android:exported="false" />
        <activity
            android:name=".ArmarioRentedActivity"
            android:exported="false" />
        <activity
            android:name=".ArmarioAbertoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaCartaoActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmarDuplaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmarUmClienteActivity"
            android:exported="false" />
        <activity
            android:name=".FotoDuplaDoisActivity"
            android:exported="false" />
        <activity
            android:name=".FotoDuplaUmActivity"
            android:exported="false" />
        <activity
            android:name=".FotoUnicaActivity"
            android:exported="false" />
        <activity
            android:name=".OpenLockerActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmRentActivity"
            android:exported="false" />
        <activity
            android:name=".ReleaseLockerActivity"
            android:exported="false" />
        <activity
            android:name=".CamPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ScanQRcodeActivity"
            android:exported="false" />
        <activity
            android:name=".RentLockerActivity"
            android:exported="false" />
        <activity
            android:name=".GerarQRcodeActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCB_XTyBtzDDOxHUX9rwTcA3vWC0uNHaMw" />
    </application>

</manifest>